<h1>Account Settings</h1>

<h3>Account Details</h3>
<ul>
  <li><%= "#{current_user.first_name} #{current_user.last_name}" %></li>
  <li><%= current_user.email%></li>
</ul>

<h3><%= facade.active_message %></h3>
