<h1><%= @restaurant.name %></h1>

<section class='items'>
  <h2>Dishes</h2>

  <% @restaurant.items.each do |item| %>
    <section class='item' id='item.name'>
      <p><%= item.name %></p>
      <p>Average Rating: <%= item.average_rating.round(1) %></p>
    </section>
  <% end %>
</section>
