<ul class="navbar-nav mr-auto">
  <li class="nav-item" style="color:white">
    <%= link_to image_tag("https://i.imgur.com/vHMTMAV.png", style: "width:100px;height:45px;border:none;"), root_path %>
  </li>

  <% if current_user %>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="/login" style="color:white">Sign In</a>
    </li>
  <% end %>
</ul>
