<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Noodlr<span class="sr-only">(current)</span></a>
  </li>

  <% if current_user %>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="/login">Sign In</a>
    </li>
  <% end %>

</ul>
